.weekList {
    text-align: right;
}

.title {
    padding: 10px;
    margin-bottom: 20px;

    color: #F8F4EF;
    background-color: #5D4632;
    text-align: center;
    font-size: large;
}

.weekListEditButtonContainer {
    background-color: rgb(217, 210, 191);
}

.weekListEditButton {
    width: 20%;
    height: 30px;
}

.topSection .dayItem {
    display: grid;
    grid-template-columns: 55px 1fr;
}

.topSection .day {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    /* background-color: rgb(205, 187, 255); */
    background-color: rgb(217, 210, 191);
    text-align: center;
}

.topSection .meal {
    margin-top: 0;
    margin-bottom: 0;
    padding: 5px;
    /* background-color: rgb(188, 165, 252); */
    background-color: hsl(56, 25%, 87%);

    text-align: left;
}

.bottomSection {
    text-align: left;
    padding: 10px;
    /* background-color: rgb(253, 198, 255); */
    background-color: rgb(230, 229, 213);
    border-top: 4px dotted hsl(37, 45%, 35%);

    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2%;
}

.bottomSection p {
    margin-top: 0;
    margin-bottom: 0;
}

.shoppingItemViewMode, .shoppingItemEditMode {
    display: grid;
    align-items: center;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.267);
}

.shoppingItemViewMode {
    grid-template-columns: auto 1fr;
    padding: 0.15em;
    /* padding-left: 0.5em; */
    padding-right: 0.5em;
}

.shoppingItemEditMode {
    grid-template-columns: auto 1fr auto;
}

.shoppingItemEditMode button {
    width: 38px;
    height: 38px;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    color: hsl(0, 78%, 43%);
    margin-right: 5px;
}

.shoppingItemEditMode input[type="text"] {
    box-sizing: border-box;
    width: 100%;
}

.dragHandleContainer {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.dragHandleContainer > .dragHandle {
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1IiBoZWlnaHQ9IjUiPgo8cmVjdCB3aWR0aD0iNSIgaGVpZ2h0PSI1IiBmaWxsLW9wYWNpdHk9IjAiPjwvcmVjdD4KPHJlY3Qgd2lkdGg9IjIiIGhlaWdodD0iMiIgZmlsbD0iIzAwMCI+PC9yZWN0Pgo8L3N2Zz4=");
    width: 12px;
    height: 75%;
    cursor: grab;
}

.sortable-chosen {
    color: green;
}

.addNewButton {
    /* width: 50%; */
    margin-top: 3px;
    margin-bottom: 3px;
    height: 38px;
}

/* Phones sizes */
@media only screen and (max-width: 1900px) {
    .bottomSection {
        grid-auto-flow: column;
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 1200px) {
    .bottomSection {
        grid-auto-flow: unset;
        grid-template-columns: 1fr;
    }

    .shoppingItemViewMode input[type=checkbox] {
        margin-right: 1em;
        height: 25px;
        width: 25px;
        background-color: #5D4632;
    }
}

@media only screen and (max-width: 600px) {
    .bottomSection {
        grid-auto-flow: unset;
        grid-template-columns: 1fr;
    }

    .add-new-button {
        width: 100%;
        height: 50px;
    }
}
